#mydiv{
    height: 100px;
    width: 100px;
    background-image: url("butterfly_img.jpg");
    background-size: cover;
    position: fixed;
    right: 0;
    color: white;
    text-align: center;
}

.alldiv{
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
}

#div1{
    background-color: red;
    z-index: 3;
}

#div2{
    background-color: green;
    right: 10%;
    bottom: 30px;
    z-index: 2;
}

#div3{
    background-color: blue;
    right: 20%;
    bottom: 50px;
    z-index: 1;
}
