div{
    height: 100px;
    width: 100px;
    background-color: rgb(203, 148, 255);
    border: 5px solid black;
    text-align: center;
    border-radius: 4px;
    padding: 30px;
}
div p{
    margin-top: 40px;
}